<html>
  <head>
    <title>Geovictoria: Detector de Mascarillas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class = "container">
      <div class = "starter-template">
        
          <h1>Detección de Mascarilla</h1>
          <p class = "lead">Prueba subiendo una foto y luego apretando el botón <b>Enviar</b>.</p>
          <p>Creado por <a href="https://www.geovictoria.com/">GeoVictoria</a> Labs.</p>
          <p>Autor: <a href="http://twitter.com/aastroza">Alonso Astroza</a>, Mayo 2020.</p>

      </div>
    </div>

    <header class="navbar">
      <form action="/upload" method="post" enctype="multipart/form-data" >
          <div align="center">
              <label class="btn btn-default btn-file">
                  Selecciona una foto <input type="file" name="image" style="display: none;">
              </label>
              <input type="submit" value="Enviar" class="btn btn-primary">
          </div>
      </form>
    </header>
    
    <div class="text-center">
      {% if init %}
        {% if faceDetected %}
            {% if faceMaskDetected %}
                <div class="alert alert-success" style="margin-top:18px;">
                    <strong>¡Genial!</strong> Estás usando una mascarilla.
                </div>
                {% if image_to_show %}
                    <div>
                        <img src="{{ image_to_show }}">
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-danger" style="margin-top:18px;">
                    <strong>¡Cuidado!</strong> No estás usando una mascarilla.
                </div>
                {% if image_to_show %}
                    <div>
                        <img src="{{ image_to_show }}">
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
          <div class="alert alert-danger" style="margin-top:18px;">
            <strong>No</strong> se ha detectado un rostro humano en la imagen. Prueba con otra foto.
          </div>
        {% endif %}
      {% else %}
        {% if init is defined %}
          <div class="alert alert-danger" style="margin-top:18px;">
            Primero debes subir una imagen con el botón "Selecciona una foto"
          </div>
        {% endif %}
      {% endif %}
    </div>
  </body>

</html>
